---
layout: default
---

<div class='container'>
    <header class="masthead text-center">

      <img class='img-responsive center-block' src="/images/people/udn-meeting.jpeg" width="100%" height="100%" />

      <p>
      <i>Human rare diseases. <br> Human Genetics.<br>
      Cell culture.<br>
      and Bioinformatics for rare diseases.</i>

        <span style="display: block; margin-bottom: 3em"></span>

      <a href="https://github.com/uclanelsonlab"><i class="fa fa-github"></i> UCLANelsonLab</a>&nbsp;&nbsp;&nbsp;
      <a href="mailto:udn@mednet.ucla.edu"><i class="fa fa-envelope-o"></i> udn@mednet.ucla.edu</a>
      </p>

      <div class="w3-container" style="   background: #f0f8ff; padding: 25px; border-radius:10px; border: 1px solid #5d8aa8">
        <div style="text-align:left">
          <h3> Recent News </h3>
          <u>Happenings of the last few months</u>
          <span style="display: block; margin-bottom: 1em"></span>
          <div class="news">
              {% capture now %}{{'now' | date: '%s' | minus: 7776000 %}}{% endcapture %}
              <ul style="list-style-position:outside;padding:20px" >
                {% for new in site.data.news %}
                  {% capture date %}{{new.date | date: '%s' | plus: 0 %}}{% endcapture %}
                  {% if date > now %}
                    <li>
                      <span>
                        {{ new.details }}
                      </span>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
          </div>
        </div >
      </div>



      <span style="display: block; margin-bottom: 3em"></span>


      <!-- <a class="twitter-timeline" href="https://twitter.com/KordingLab" data-widget-id="695051708246941697">Tweets by @KordingLab</a> -->
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

      <span style="display: block; margin-bottom: 3em"></span>
      Department of Human Genetics at University of California Los Angeles<br>
      Gonda, 695 Charles E Young Drive South, Los Angeles, CA 90095, US
      <span style="display: block; margin-bottom: 3em"></span>

    </header>
</div>
